In [4]:
import numpy as np
import pandas as pd
import os

In [5]:
movie=pd.read_csv("C:/Users/vinit/OneDrive - dtu.ac.in/Desktop/churn analysis/projet/movie_dataset.csv")
movie2=pd.read_csv("C:/Users/vinit/OneDrive - dtu.ac.in/Desktop/churn analysis/projet/movie_dataset2.csv")
movie.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [6]:
movie.shape

(4803, 4)

In [7]:
movie2.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [8]:
movie=movie.merge(movie2,on="title")
movie.head(2)

,movie_id,title,cast,crew,budget,genres,homepage,id,keywords,original_language,...,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,...,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,...,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",6.9,4500

In [9]:
movie.columns

Index(['movie_id', 'title', 'cast', 'crew', 'budget', 'genres', 'homepage',
       'id', 'keywords', 'original_language', 'original_title', 'overview',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'vote_average', 'vote_count'],
      dtype='object')

In [10]:
movie['original_language'].value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
id       2
cs       2
ta       2
ro       2
ar       2
te       1
hu       1
xx       1
af       1
is       1
tr       1
vi       1
pl       1
nb       1
ky       1
no       1
sl       1
ps       1
el       1
Name: count, dtype: int64

In [11]:

movies=movie[['movie_id','title','overview','genres','cast','keywords','crew', 'vote_average']]

movies.head(2)

,movie_id,title,overview,genres,cast,keywords,crew,vote_average
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.2
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.9

In [12]:
movies.shape

(4809, 8)

In [13]:
movies.isnull().sum()

movie_id        0
title           0
overview        3
genres          0
cast            0
keywords        0
crew            0
vote_average    0
dtype: int64

In [14]:
movies.dropna(inplace=True)

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [15]:
movies.shape

(4806, 8)

In [16]:
movies.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

now we have to remove unwanted bracketes and comma from our data set and get only valueable(name) data

In [18]:
import ast          #it convert string to list 
def conv_genres(text):
    l=[]                                             #creat empty list
    for i in ast.literal_eval(text):                 #ye string ko list mai convert krega , next shell mai iska exmaple hai kasekrega
        l.append(i['name'])
    return l

In [19]:
movies['genres']=movies['genres'].apply(conv_genres)

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\4210583817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(conv_genres)

In [20]:
#hence this convert string into list
import ast 
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
)

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [21]:
movies.head(2)

,movie_id,title,overview,genres,cast,keywords,crew,vote_average
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.2
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.9

In [22]:
import ast          #it convert string to list 
def conv_keywords(text):
    l=[]                                             #creat empty list
    for i in ast.literal_eval(text):                 #ye string ko list mai convert krega , next shell mai iska exmaple hai kasekrega
        l.append(i['name'])
    return l

In [23]:
movies['keywords']=movies['keywords'].apply(conv_keywords)

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\2135967332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(conv_keywords)

In [24]:
movies.head(2)

,movie_id,title,overview,genres,cast,keywords,crew,vote_average
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[culture clash, future, space war, space colon...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.2
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[ocean, drug abuse, exotic island, east india ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.9

In [25]:
def conv_cast(text):
    l=[]                                             #creat empty list
    counter=0                                        #counter is lia kyuki mujhe cast se 3 bando ke naam chahiye the agr nhi chlata to ek ka he milta
    for i in ast.literal_eval(text):                 #ye string ko list mai convert krega , next shell mai iska exmaple hai kasekrega
        if counter>3:
            l.append(i['name'])
        counter+=1
            
            
       
    return l

In [26]:
movies['cast']=movies['cast'].apply(conv_cast)

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\2385016942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(conv_cast)

In [27]:
movies.head(2)

,movie_id,title,overview,genres,cast,keywords,crew,vote_average
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Michelle Rodriguez, Giovanni Ribisi, Joel Dav...","[culture clash, future, space war, space colon...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.2
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Chow Yun-fat, Bill Nighy, Geoffrey Rush, Jack...","[ocean, drug abuse, exotic island, east india ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.9

In [28]:
def conv_crew(text):
    l=[]                                       
    for i in ast.literal_eval(text):
        if i['job']=='Director':
            l.append(i['name'])
    return l

In [29]:
movies['crew']=movies['crew'].apply(conv_crew)

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\3078002397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(conv_crew)

In [30]:
movies.head(2)

,movie_id,title,overview,genres,cast,keywords,crew,vote_average
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Michelle Rodriguez, Giovanni Ribisi, Joel Dav...","[culture clash, future, space war, space colon...",[James Cameron],7.2
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Chow Yun-fat, Bill Nighy, Geoffrey Rush, Jack...","[ocean, drug abuse, exotic island, east india ...",[Gore Verbinski],6.9

overview column is string column but rest of all are list column so we have to convert overview into list

In [31]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\1104793012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview']=movies['overview'].apply(lambda x:x.split())

In [32]:
movies.iloc[0]['overview'] #now movies['overview'] is also list

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

aab bakio mai se space delete krna hai

In [33]:
def dele_space(word):
    l=[]
    for i in word:
        l.append(i.replace(" ",""))
    return l

In [34]:
movies['crew']=movies['crew'].apply(dele_space)
movies['cast']=movies['cast'].apply(dele_space)
movies['genres']=movies['genres'].apply(dele_space)
movies['keywords']=movies['keywords'].apply(dele_space)

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\2910002928.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(dele_space)
C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\2910002928.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(dele_space)
C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\2910002928.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(dele_space)
C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\2910002928.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(dele_space)

In [35]:
movies.head(2)

,movie_id,title,overview,genres,cast,keywords,crew,vote_average
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[MichelleRodriguez, GiovanniRibisi, JoelDavidM...","[cultureclash, future, spacewar, spacecolony, ...",[JamesCameron],7.2
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ChowYun-fat, BillNighy, GeoffreyRush, JackDav...","[ocean, drugabuse, exoticisland, eastindiatrad...",[GoreVerbinski],6.9

In [36]:
movies['detail']=movies['overview']+movies['genres']+movies['cast']+movies['crew']+movies['keywords']

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\3964845811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['detail']=movies['overview']+movies['genres']+movies['cast']+movies['crew']+movies['keywords']

In [37]:
movies.head(2)

,movie_id,title,overview,genres,cast,keywords,crew,vote_average,detail
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[MichelleRodriguez, GiovanniRibisi, JoelDavidM...","[cultureclash, future, spacewar, spacecolony, ...",[JamesCameron],7.2,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ChowYun-fat, BillNighy, GeoffreyRush, JackDav...","[ocean, drugabuse, exoticisland, eastindiatrad...",[GoreVerbinski],6.9,"[Captain, Barbossa,, long, believed, to, be, d..."

In [38]:
movies = movies.rename(columns={'vote_average': 'rating'})

In [39]:
movies.head(2)

,movie_id,title,overview,genres,cast,keywords,crew,rating,detail
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[MichelleRodriguez, GiovanniRibisi, JoelDavidM...","[cultureclash, future, spacewar, spacecolony, ...",[JamesCameron],7.2,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ChowYun-fat, BillNighy, GeoffreyRush, JackDav...","[ocean, drugabuse, exoticisland, eastindiatrad...",[GoreVerbinski],6.9,"[Captain, Barbossa,, long, believed, to, be, d..."

In [40]:
df=movies[['movie_id','title','rating','detail']]

In [41]:
df.head(5)

,movie_id,title,rating,detail
0,19995,Avatar,7.2,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,6.9,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,6.3,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,7.6,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,6.1,"[John, Carter, is, a, war-weary,, former, mili..."

In [42]:
#we have to convert detail list to paragraph
df['detail']=df['detail'].apply(lambda x:" ".join(x))
df.head(5)

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\1047651271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['detail']=df['detail'].apply(lambda x:" ".join(x))

,movie_id,title,rating,detail
0,19995,Avatar,7.2,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,6.9,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,6.3,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,7.6,Following the death of District Attorney Harve...
4,49529,John Carter,6.1,"John Carter is a war-weary, former military ca..."

In [43]:
df['detail']=df['detail'].apply(lambda x:x.lower())

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\2465396866.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['detail']=df['detail'].apply(lambda x:x.lower())

In [44]:
df.head(2)

,movie_id,title,rating,detail
0,19995,Avatar,7.2,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,6.9,"captain barbossa, long believed to be dead, ha..."

In [45]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\vinit\appdata\roaming\python\python312\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\vinit\appdata\roaming\python\python312\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\vinit\appdata\roaming\python\python312\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\vinit\appdata\roaming\python\python312\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\vinit\appdata\roaming\python\python312\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\vinit\appdata\roaming\python\python312\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [46]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [47]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [48]:
df['detail']=df['detail'].apply(stem)

C:\Users\vinit\AppData\Local\Temp\ipykernel_22276\1990608218.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['detail']=df['detail'].apply(stem)

In [49]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [50]:
vec=cv.fit_transform(df['detail']).toarray()
vec

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [51]:
vec[0]

array([0, 0, 0, ..., 0, 0, 0])

In [52]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zombies', 'zone', 'zoo'], dtype=object)

In [53]:
ps.stem('loving')

'love'

In [54]:
from sklearn.metrics.pairwise import cosine_similarity

In [55]:
sim=cosine_similarity(vec)
sim

array([[1.        , 0.0722944 , 0.08414891, ..., 0.04417261, 0.        ,
        0.        ],
       [0.0722944 , 1.        , 0.0831411 , ..., 0.02182179, 0.        ,
        0.02326211],
       [0.08414891, 0.0831411 , 1.        , ..., 0.02540003, 0.        ,
        0.        ],
       ...,
       [0.04417261, 0.02182179, 0.02540003, ..., 1.        , 0.04313311,
        0.04264014],
       [0.        , 0.        , 0.        , ..., 0.04313311, 1.        ,
        0.0919601 ],
       [0.        , 0.02326211, 0.        , ..., 0.04264014, 0.0919601 ,
        1.        ]])

In [61]:
sorted(list(enumerate(sim[0])), reverse=True, key=lambda x: x[1])[0:6]

[(0, np.float64(1.0000000000000004)),
 (1214, np.float64(0.2780162341507979)),
 (2329, np.float64(0.24294935736466242)),
 (539, np.float64(0.2410522128025111)),
 (507, np.float64(0.23995201439520175)),
 (3728, np.float64(0.23855936180684895))]

In [57]:
#movies ka index fetching
#df[df['title']=='Batman'].index[0]

In [62]:
def recommended(movie):
    index_movie=df[df['title']==movie].index[0]
    distance=sim[index_movie]
    movie_list=sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[0:6]
    for i in movie_list:
        print(df.iloc[i[0]].title)

In [63]:
recommended('Inception')

Inception
12 Rounds
Timecop
RED
Copying Beethoven
Killers

In [91]:
df.iloc[4529].title

'The R.M.'